.search-bar{
  border: 1px solid #dedede;
  background: #FFF;
  height: 45px;
  font-size: 16px;
}

.search-bar-header{
  width: 680px;
}

.navbar a .bi, .navbar a .fa {
  margin-bottom: 5px;
}

.navbar a span {
  font-size: 0.875rem; /* Tamaño de fuente ajustado */
}

.header-icon{
  font-size: 1.5em;

}

.nav {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff; /* Cambiar al color de fondo deseado */
  border-bottom: 1px solid #dddddd; /* Línea separadora opcional */
  width: 100%;
}
.navbar {
  padding: 10px 0; /* Espaciado interno del header */
}

.navbar-brand {
  font-size: 1.5rem; /* Tamaño de la fuente del logo */
}

.navbar-nav {
  margin-left: auto; /* Alineación a la derecha */
}

.navbar-nav .nav-link {
  padding: 0 15px; /* Espaciado entre elementos */
  font-size: 1rem; /* Tamaño de la fuente de los enlaces */
  color: #333333; /* Color de texto de los enlaces */
}

@media (max-width: 991px) {
  /* Estilos para pantallas medianas y pequeñas */
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .navbar-toggler {
    margin-right: 15px; /* Ajusta el espacio del toggle si es necesario */
  }
}