<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">MVM</h1></a>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="d-flex justify-content-end w-100">
                    <form class="d-flex mx-3" style="max-width: 680px; flex-grow: 1; padding-left: 90px;">
                        <div class="input-group w-100">
                            <input type="search" class="form-control search-bar" placeholder="Buscar productos..." aria-label="Buscar productos">
                            <span class="input-group-text" style="height: 45px;"><i class="fas fa-search"></i></span>
                        </div>
                    </form>
                    <div class="d-flex align-items-center">
                        <div class="text-center me-4">
                            <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                                <i class="bi bi-cart header-icon"></i>
                            </a>
                        </div>
                        <div class="text-center me-4">
                            <a href="#" class="position-relative d-flex flex-column align-items-center text-decoration-none">
                                <i class="bi bi-heart header-icon"></i>
                                <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                            </a>
                        </div>
                        <div class="text-center">
                            <a href="#" class="d-flex flex-column align-items-center text-decoration-none">
                                <i class="bi bi-person-fill header-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <hr>
        <nav class="nav">
            <div class="dropdown">
              <a class="nav-link active dropdown-toggle" aria-current="page" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Categoría 1</a></li>
                <li><a class="dropdown-item" href="#">Categoría 2</a></li>
                <li><a class="dropdown-item" href="#">Categoría 3</a></li>
              </ul>
            </div>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </nav>
          
    </div>
</div>
<!-- Navbar End -->
