<app-header></app-header>
<div class="container product-detail mt-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="product-image">
                <img [src]="product?.images[0]" class="img-fluid main-image" alt="{{ product?.title }}">
            </div>
            <div class="product-thumbnails d-flex mt-3">
                <img *ngFor="let image of product?.images" [src]="image" class="img-thumbnail"
                    alt="{{ product?.title }}" (click)="changeMainImage(image)">
            </div>
        </div>
        <div class="col-md-6">
        <div class="product-info">
            <h2>{{ product?.title }}</h2>
            <div class="price mt-3">
                <p class="discounted-price"><span>{{ product?.price }} $</span></p>
            </div>
            <p class="mt-3"><strong>Category:</strong> {{ categoryName }}</p>
            <p><strong>Description:</strong> {{ product?.description }}</p>
        
            <!-- Contenedor de los botones en fila -->
            <div class="d-flex align-items-center mt-4">
                <div class="me-2">
                    <label for="quantity" class="me-2">Quantity:</label>
                    <input type="number" id="quantity" [(ngModel)]="quantity" class="form-control" min="1" value="1">
                </div>
            <!-- Pasando un argumento a toggleFavorite -->
        <button class="btn btn-outline-secondary me-2" (click)="toggleFavorite(product)">
            <i class="fas" [ngClass]="{'fa-heart': isFavorite, 'far fa-heart': !isFavorite}"></i>
        </button>
            
            <!-- Pasando solo el producto a addToCart -->
            <button class="btn btn-success" (click)="addToCart(product, quantity)">
                <i class="fa fa-shopping-bag me-2"></i> Agregar al carrito
            </button>
            </div>

        </div>

        </div>
    </div>
</div>
<app-footer></app-footer>